/* File: styles/portfolio.css */

/* font used  */

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* hero section */


.header {
  position: relative;
  text-align: center;
  color: white;
  margin: 50px auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2; /* Show above overlay */
}

.header h4 {
    font-size: 32px;
}
.header h1 {
    font-size: 72px;
}

/* Overlay with linear gradient */
.hero-image {
  position: relative;
  width: 70%;
  height: 600px;
  margin: 0 auto; /* Center horizontally */
  background: 
    linear-gradient(rgba(7, 2, 17, 1.0), rgba(7, 2, 17, 0)),
    url('../images/hero.png') center/cover no-repeat;
    border-radius: 16px;
    
}

/* hero section ended*/


/* off section started */

.off {
  text-align: center;
  color: rgb(61, 53, 53);
  margin: 100px auto;
}

.off h2 {
  font-size: 88px;
  font-weight: 700;
  color: #FF0000;
  margin-bottom: 40px;
}

.off h4 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #FF0000;
}

.off h3 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
  color: #070211;
}

/* off section ended*/

/* midnight party section started */

.midnight-party h3 {
    font-size: 64px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 24px;
}

.midnight-party p {
    font-size: 18px;
    font-weight: 300;
    color: rgb(255, 255, 255, 0.8);
    margin-bottom: 48px;
    line-height: 30px;
}

.midnight-party a {
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
}

.section-midnight-party {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    margin: 100px auto;
    position: relative;
    max-width: 70%;
    height: 600px;
    margin: 0 auto; /* Center horizontally */
    background: 
    linear-gradient(to right, rgba(7, 2, 17, 1.0), rgba(7, 2, 17, 0)),
    url('../images/midnight.png') center/cover no-repeat;
    border-radius: 16px;
}

.section-midnight-party .midnight-party {
    margin-left: 126px;
}

.section-midnight-party .mp-second {
    margin-right: 138px;
}


/* midnight party section ended */


/* join us section started */

.jtext {
  text-align: center;
  color: rgb(61, 53, 53);
  margin: 100px auto;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

.jred {
  font-size: 32px;
  font-weight: 600;
  color: #FF0000;
  margin-bottom: 40px;
}

.join-now button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #FF0000;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.section-join-now {
  text-align: center;
  margin: 120px auto;
  background: linear-gradient(to bottom, #ffcccc, #ffffff);
  padding: 60px 20px;
  text-align: center;
  border-radius: 16px;
  width: 70%;
  height: 382px;
  justify-content: center;
  align-items: center;
}

/* join now section ended  */

/* coming soon section started */

.section-coming-soon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  gap: 40px;
  flex-wrap: wrap;
}

.coming-soon {
  text-align: left;
  color: rgb(61, 53, 53);
  margin: 100px auto;
  padding-left: 130px;
  padding: 40px;
  max-width: 25%;
}

.coming-soon-newyear {
  text-align: left;
  margin: 100px auto;
  padding-right: 130px;
  padding: 40px;
  max-width: 25;
}

.coming-soon-image {
  max-width: 25%;
  height: auto;
  border-radius: 16px;
}

.section-coming-soon h3 {
  font-size: 24px;
  font-weight: 500;
  color: #FF0000;
  margin-bottom: 16px;
}

.section-coming-soon h2 {
  font-size: 48px;
  font-weight: 500;
  color: #070211;
  margin-bottom: 22px;
}

.section-coming-soon p {
  font-size: 20px;
  font-weight: 300;
  color: rgba(7, 2, 17, 0.6);
  margin-bottom: 22px;
}

.coming-soon-newyear h2 {
  font-size: 48px;
  font-weight: 900;
  color: #FF0000;
  margin-bottom: 16px;
}

.coming-soon-newyear p {
  font-size: 20px;
  font-weight: 300;
  color:rgba(7, 2, 17, 0.6);
  margin-bottom: 40px;
}

.circle-border {
  border: 15px solid red;
  border-radius: 50%;
  width: 460px;
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  padding: 5px;
}

.circle-border img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  padding: 30px;
  
}

/* coming soon section ended */

/* discount section started  */



.section-functional {
  text-align: center;
}

.section-functional h4 {
  font-size: 24px;
  font-weight: 500;
  color: #070211;
  margin-bottom: 10px;
}
.section-functional h2 {
  font-size: 72px;
  font-weight: 900;
  color: #070211;
  margin-bottom: 26px;
  margin-top: 16px;
}

.holidays {
  font-size: 72px;
  font-weight: 900;
  color: #FF0000;
}

.section-functional p {
  font-size: 20px;
  font-weight: 300;
  color: rgba(7, 2, 17, 0.6);
  margin-bottom: 60px;
}

.fifty-discount {
  justify-content: space-between;
  margin: 0 auto;
  gap: 170px;
  background-image: url('../images/ground.png');
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 50px;
}

.fifty-discount-image {
  align-items: top;
  padding-bottom: 300px;
  padding-left: 80px;
}


/* discount section ended  */


