/* File: styles/portfolio.css */

/* font used  */

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* hero section */


.header {
  position: relative;
  text-align: center;
  color: white;
  margin: 50px auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2; /* Show above overlay */
}

.header h4 {
    font-size: 32px;
}
.header h1 {
    font-size: 72px;
}

/* Overlay with linear gradient */
.hero-image {
  position: relative;
  width: 70%;
  height: 600px;
  margin: 0 auto; /* Center horizontally */
  background: 
    linear-gradient(rgba(7, 2, 17, 1.0), rgba(7, 2, 17, 0)),
    url('../images/hero.png') center/cover no-repeat;
    border-radius: 16px;
    
}

/* hero section ended*/


/* off section started */

.off {
  text-align: center;
  color: rgb(61, 53, 53);
  margin: 100px auto;
}

.off h2 {
  font-size: 88px;
  font-weight: 700;
  color: #FF0000;
  margin-bottom: 40px;
}

.off h4 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #FF0000;
}

.off h3 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
  color: #070211;
}